.logo {
  text-decoration: none;
  text-align: center;
  @include tablet {
  }
  @include desktop {
    margin-right: 93px;
  }
  &__first-part {
    color: var(--main-color-blue);
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    font-family: raleway;
  }
  &__second-part {
    color: var(--secondary--black);
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    font-family: raleway;
  }
  &__third-part {
    color: var(--main-color-white);
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    font-family: raleway;
  }
  &--changed-decoration {
    text-decoration: none;
  }
}
