.offer {
  display: none;
  @include desktop {
    display: contents;
    padding-bottom: 94px;
    &__cards {
      display: flex;
      gap: $spaceGap;
      flex-wrap: wrap;
    }
    &__card {
      max-width: 370px;
      flex-basis: calc((100% - 2 * $spaceGap) / 3);
      position: relative;
    }
    &__overlay {
      width: 100%;
      background-color: $overlayImgText;
      text-align: center;
      position: absolute;
      bottom: 4px;
    }
    &__text {
      color: $primaryColor;
      text-transform: uppercase;
      line-height: 1.17;
      padding: 27px 0;
    }
  }
}
