.our-customers {
  &__content {
    margin: 15px 15px;
    @include tablet {
    }
    margin: 60px 15px;
    @include desktop {
      margin: 94px auto;
    }
  }
  &__name {
    margin-bottom: 30px;
    margin-top: 60px;
    @include desktop {
      margin-bottom: 50px;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 60px;
    justify-content: center;
    @include tablet {
      margin-bottom: 30px;
    }
    @include desktop {
      flex-wrap: nowrap;
    }
  }
  &__item {
    &:hover,
    &:focus {
      fill: var(--main-color-blue);
      border-color: var(--main-color-blue);
    }
    width: 170px;
    height: 92px;
    border: 1px solid var(--main-color-svg);
    fill: var(--main-color-svg);
    border-radius: 4px;
    cursor: pointer;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    flex-basis: calc((100% - (1 * 30px)) / 2);
    @include tablet {
      flex-basis: calc((100% - (2 * 30px)) / 3);
    }
    @include desktop {
      flex-basis: calc((100% - (4 * 30px)) / 6);
    }
  }
}
